#fondo{
    background-color:rgb(246, 246, 246);
    color: #00838F;
}
a{
    color: #00838F;
    font-size: 20px;
}
a:visited{
            color: #00838F;
        }
#letra{
    color: #00838F;
    font-size: 20px;
}

#letra3{
    color: #00838F;
    font-size:40px;
    font-weight:bolder;
    text-align: left;


}

#nav-color{
    background-color: #b6d1d4;    
    color: #00838F;
    font-size:40px;
    font-weight:bolder;
    text-align: left;
}

#button_id{
    margin-left: 15px; margin-top: 20px; margin-bottom: 20px;

}

.row-rev{
    display: flex;
    flex-direction: row-reverse;
}

#caja{
    width: 100%; margin: auto;
    padding-bottom: 20px; padding-left:40px; padding-right: 50px;

}
#columnas_superiores{
    padding-top: 40px; 
}

#col11{

    margin-top: 10px;
    background-color: transparent;
    border: 3px solid #00838F;
}

#last_col{
    
}

#fecha{
   
}

#asunto_text{
    margin-top: 25px; margin-bottom: 35px; 
    background-color: transparent;
}

#asunto_box{
    margin-top: 20px; 
    background-color: transparent;
    border: 3px solid #00838F;
}

#texto_escrbir{

    width: 100%; margin-top: 35px; padding-left: 60px; padding-bottom: 20px;
}

#tam_h1{

    font-size: large;
}

#pre_Sent{
    margin: auto;
}

#sent{
    background-color: gray; border-color: gray;
}


#espacio_final{

    margin-bottom: 20px; 

}

.nave {
    text-decoration: none;
}

#text_para{
    margin-top: 10px; 
}

@media (max-width:700px) {
    body{
            width: fit-content;
    }

    #columnas_superiores div:nth-child(3){
        display: block !important;
    }

    #columnas_superiores div{
        margin-bottom: 10px;
    }
}